@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --tw-gradient-from: #64748b;
  --tw-gradient-to: #1e293b;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
